/* Change container numbers display flex for grid */
#container_numbers{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
#container_numberLabels{
    display: flex;
    justify-content: center;
    gap: 7rem;
}